#!/usr/bin/env bash

if command -v nix && [[ $(uname -s) =~ Linux ]]; then
	# Watch & reload direnv on change
	watch_file .nix/flake.nix

	if [[ $(type -t use_flake) != function ]]; then
		echo "ERROR: use_flake function missing."
		echo "Please update direnv to v2.30.0 or later."
		exit 1
	fi
	use flake ".nix/"
fi

GOPATH="$(pwd)/.go"
PATH="${GOPATH}/bin:$PATH"
export PATH GOPATH

go env -w GONOSUMDB="g1tlab.1nnov8.de/*,rain.cloud/*"
go env -w CGO_ENABLED=1 # needed for sqlite support
if ping -c1 ryzerv >/dev/null 2>&1; then
	go env -w GOPROXY="http://ryzerv:3000,direct"
fi
