#!/usr/bin/env bash

if command -v devenv && [[ $(uname -s) =~ Linux ]]; then
	export DIRENV_WARN_TIMEOUT=20s
	eval "$(devenv direnvrc)"
	use devenv
else
	echo -e '\033[33;41m!!! Please upgrade to using \033[1mdevenv\033[22m !!!\033[0m'

	GONOSUMDB="g1tlab.1nnov8.de/*,rain.cloud/*"
	GOPROXY="http://ryzerv.1nnov8.eu:3000,direct"
	export GONOSUMDB GOPROXY

	go env -w GONOSUMDB="$GONOSUMDB"
	go env -w GOPROXY="$GOPROXY"
fi
