#!/usr/bin/env bash

if command -v nix && [[ $(uname -s) =~ Linux ]]; then
	# Watch & reload direnv on change
	watch_file .nix/flake.nix

	if [[ $(type -t use_flake) != function ]]; then
		echo "ERROR: use_flake function missing."
		echo "Please update direnv to v2.30.0 or later."
		exit 1
	fi
	use flake ".nix/"
fi

GOPATH="${HOME}/go:$(pwd)"
PATH="${HOME}/go/bin:$PATH"
export PATH GOPATH

go env -w GONOSUMDB="g1tlab.1nnov8.de/*,rain.cloud/*"
if ping -c1 ryzerv >/dev/null 2>&1; then
	go env -w GOPROXY="http://ryzerv:3000,direct"
elif [ "$USER" = "mirko" ]; then
	go env -w GOPROXY="http://localhost:30000,direct"
fi
